*{
    font-family: 'Roboto', sans-serif;
}
#login-form-div{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;    
    width: 25%;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
}
#login-form-div h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
}
#login-form-div form{
    width: 95%;
    margin: auto;
    display: grid;
    gap: 20px;
    box-sizing: border-box;
    padding: 20px 30px;
    margin-top: 10px;
}
#login-form-div form input{
    padding: 6px 12px;
    font-size: 18px;
    border: 0.5px solid rgb(161, 161, 161);
    border-radius: 5px;
}
#login-form-div form input:last-child{
    width: 70%;
    margin: auto;
    background-color: teal;
    color: white;
    font-weight: 500;
    margin-top: 10px;
    padding: 8px;
    cursor: pointer;
}
::placeholder{
    font-size: 16px;
    opacity: 0.8;
}