#navbar{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(0, 0, 0);
    padding: 0px 20px;
    box-sizing: border-box;
    
}
#options{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
a{
    text-decoration: none;
    color: black;
}
#jewelery img , #electronics img{
    width: 50px;
}