@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Orelega+One&family=Titan+One&display=swap');

/* font-family: 'Fredoka One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Orelega One', cursive;
font-family: 'Titan One', cursive; */
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    /* color: black; */
    color: white;
}
#nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10;
    color: white;
    background: rgba(4, 4, 4, 0.858);
    /* border: 1px solid red; */
    padding: 0px 100px;
}
#logo{
    /* font-family: 'Fredoka One', cursive; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Orelega One', cursive; */
    font-family: 'Titan One', cursive;
    font-size: 30px;
    line-height: 0px;
}
#logo h2 span{
    color: orange;
    font-size: 24px;
    letter-spacing: 2px;
}
#menu{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 14px;
}
#search-bar{
    position: relative;
    width: 40%;
    display: flex;
    align-items: center;
    gap: 10px;
    /* background-color: white; */
    border-bottom: 5px solid #892074;
    box-sizing: border-box;
    padding: 5px 0px;
}
#search-bar input{
    outline: none;
    border: none;
    background-color: transparent;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: 500;
    color: white;
}::placeholder{
    color: rgb(156, 156, 156);
}
#search-bar img{
    width: 16px;
}
#search-bar label{
    font-size: 14px;
    font-weight: 800;
}
.list{
    display: block;
    position: absolute;
    top: 11.5%;
    right: 23%;
    box-sizing: border-box;
    padding: 0px 20px;
    height: 250px;
    width: 348px;
    overflow: scroll;
    background: #00000092;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

::-webkit-scrollbar{
    display: none;
}
.search-list{
    display: flex;
    justify-content: left;
    gap: 10px;
    align-items: center;
    box-sizing: border-box;
    color: white;
    font-weight: 400;
    cursor: pointer;
}
.search-list img{
    width: 40px;
    border-radius: 8px;
}
#slidshow{
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    z-index: -10;
    left: 0px;
    top: 0px;
    height: 460px;
    background-size: cover;
    background-position: center;
}
#login-signup{
    font-size: 15px;
    /* border: 1px solid; */
    align-items: center;
    gap: 10px;
}
#login-signup img{
    width: 30px;
    height: 30px;
}
#logout{
    display: none;
    cursor: pointer;
}
#categories{
    width: 100%;
    margin: auto;
    margin-top: 25.2%;  
    text-align: center;
    /* color: white; */
}

#categories h1{
    font-size: 50px;
    color: white;
    width: 100%;
    margin: auto;
    padding: 10px;
    background: rgba(59, 59, 59, 0.653);
    margin-bottom: 15px;
    box-sizing: border-box;
}

#meals{
    width: 90%;
    margin: auto;
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;row-gap: 30px;
    padding: 5px;
    box-sizing: border-box;
}
#meals div{
    height: max-content;
    box-sizing: border-box;
    text-align: center;
    background: rgba(255, 255, 255, 0.866);
    /* border-radius: 10px; */
    border-bottom: 8px solid #77e2e1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}
#meals div:hover{
    transform: scale(1.04);
    border-radius: 10px;
    border-bottom: 8px solid #ffc062;
    transition: all;
    box-sizing: border-box;
}
#meals div:hover h3{
    width: fit-content;
    margin: 18px auto;
    border-bottom: 3px solid #77e2e1;
}
#categories img{
    width: 100%;
    /* height: 180px; */
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: rgba(19, 19, 19, 0.873);
}
#footer{
    margin-top: 50px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    height: 250px;
    background: linear-gradient(50deg,#bf19e4 10%,#af8021 60%);
    box-sizing: border-box;
    text-align: center;
    color: white;
    padding-top: 20px;
}
#social{
    width: 20%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
#social img{
    width: 28px;
}
.footer-nav-links{
    margin: auto;
    margin-top: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 12px;
    margin-left: -40px;
}
#footer p{
    font-size: 12px;
}
.cat-h1{
    width: 94%;
    margin: auto;
    margin-top: 120px;
    font-size: 30px;
    font-weight: 800;
    /* border-bottom: 2px solid #62ffffbd; */
    text-transform: uppercase;
}
#cat-menu{
    width: 97%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 50px;
    box-sizing: border-box;
    padding: 20px;
}
#cat-menu div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #f2d2a6a9;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    min-height: 300px;
    cursor: pointer;
}
#cat-menu h3{
    font-size: 16px;
    font-weight: 500;
}
#cat-menu img{
    width: 96%;
    border-radius: 10px;
}
.hide-list{
    display: none;
}
#recipe{
    width: 60%;
    margin: auto;
    margin-top: 60px;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
}
#recipe .meal h1{
    border: 2px #50cde0 dashed;
    font-size: 38px;
}
#recipe .meal img{
    width: 45%;
    /* border: 8px solid; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#recipe .meal-info{
    font-size: 18px;
    font-family: 'Fredoka One', cursive;
    margin: 20px;
    padding: 10px;
    border: 2px #e09850 dashed;
    border-radius: 5px;
}
#recipe .instruction p{
    margin: 0;
    letter-spacing: 0.5px;
    line-height: 1.5;
    text-align: justify;
}
#recipe .instruction ul{
    list-style: none;
    padding-left: 0;
}
#recipe .instruction ul li{
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: #fff;
    display: inline-block;
    color: black;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
    margin: 0 10px 10px 5px;
}
#recipe .meal-video img{
    width: 24px;
    vertical-align: middle;
    margin: 0 10px;
}
#recipe .meal-video a{
    color: blue;
}
#signup,#login{
    margin: auto;
    margin-top: 120px;
    width: 24%;
    text-align: center;
}
#signup h1{
    text-transform: uppercase;
}
#signup form , #login form{
    display: grid;
    row-gap: 20px;
    box-sizing: border-box;
    padding: 10px;
}
#signup form input, #login form input{
    padding: 8px 12px;
    font-size: 16px;
    border: 0.5px solid #bdbdbd;
    border-radius: 5px;
}
#signup form button, #login form button{
    background-color: #e09850;
    border: 1px solid #e09850;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    color: #fff;
    margin-bottom: 20px;
}
#signup a{
    font-size: 14px;
    border-bottom: 0.5px solid blue;
    color: blue;
}