#navabar{
    display: flex;
    height: 50px;
    border: 1px solid black;
   gap: 10px;
   align-items: center;
   background-color: white;
   
}
#menu{
    margin-left: 10px;
    font-size: 30px;
}
#you{
    margin-left: 30px;
    font-size: 30px;
    color: red;
}
h3{
    margin-left:-5px;
    font-size: 23px;
    font-family:  Roboto;
}
#query{
    margin-left: 10%;
    width: 40%;
    height: 30px;
}
#search{
    margin-left: -10px;
    height: 36px;
    width: 60px;
}
#show_videos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3%;
    width: 97%;
    margin-top: 25px;
  
    padding: 2%;

}

iframe{
  margin-bottom: -10px;
    border-radius: 10px;
    border: none;
}

  .videodiv {
    cursor: pointer;
    box-sizing: border-box;
    transition: 500ms ease;
  }
  .videodiv:hover {
    transform: scale(1.05);
  }
  .videodiv > h5 {
    padding: 0px 10px;
    margin-bottom: 5px;
  }
  .videodiv > p {
    padding: 0px 10px;
    font-size: 12px;
    line-height: 5px;
  }
  #right{
    /* border: 1px solid black; */
    margin-left: 200px;
    width: 300px;
    justify-content:space-evenly;
  
    display: flex;
  }
  #mic{
    margin-left: 20px;
  }
