@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');


*{
    /* font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

#order-form form{
    display: grid;
    width: 25%;
    margin: auto;
    gap: 20px;
    font-size: 20px;
    margin-top: 100px;
}

#order-form form input{
    font-size: 20px;
    padding: 5px;
}